{% extends 'base.html' %}
{% load static %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="group-list" class="list-group">
                    <div class="list-group-item disabled">
                        <h4 class="list-group-item-heading">Groups
                            <button class="btn-plus pull-right add-group" title="Add New Group">
                                +
                            </button>
                        </h4>
                        {# Groups go here #}
                    </div>
                </div>

                <form action="">
                    <label>Name New Group</label>
                        <div class="form-wrapper ng-isolate-scope">
                            <input class="form-control" id="room-name-input" type="text" size="100"><br>
                        </div>
                    <p>Pick a user and start chatting!</p>
                    <div id="user-list" class="list-group">
                        <div class="list-group-item disabled">
                            <h4 class="list-group-item-heading">Friends</h4>
                            {# Users go here #}
                        </div>
                    </div>
                    <input id="room-name-submit" type="button" value="Enter">
                </form>



            </div>
            <div class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title"></h4>
                        <button disabled id="edit-group" class="btn-edit">Edit</button>
                    </div>
                    <div>
                        <ul id="messages" class="messages">
                            {# Messages go here #}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="chat-input" type="text"
                                   class="form-control input"
                                   placeholder="Type your message here ..."
                                   maxlength="500">
                            <span class="input-group-btn">
                            <button class="btn btn-info btn"
                                    id="btn-send">
                                Send</button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let sessionKey = '{{ request.session.session_key }}';
        let currentUserName = '{{ request.user.username }}';
        let currentUserId = Number('{{ request.user.id }}');
    </script>
    <script src="{% static 'js/app.js' %}"></script>

{% endblock %}